/* CSS Resets */
@import url("normalize.css");

*{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1133px;
min-width: 1133px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 43px;
float: left;
min-height: 1px;
}

.row .onecol {
width: 55px;
}

.row .twocol {
width: 153px;
}

.row .threecol {
width: 251px;
}

.row .fourcol {
width: 349px;
}

.row .fivecol {
width: 447px;
}

.row .sixcol {
width: 545px;
}

.row .sevencol {
width: 643px;
}

.row .eightcol {
width: 741px;
}

.row .ninecol {
width: 839px;
}

.row .tencol {
width: 937px;
}

.row .elevencol {
width: 1035px;
}

.row .twelvecol {
width: 1133px;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}