@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-home-2, .icon-home-3, .icon-office, .icon-newspaper, .icon-pencil, .icon-pencil-2, .icon-quill, .icon-pen, .icon-droplet, .icon-paint-format, .icon-blog, .icon-pacman, .icon-dice, .icon-spades, .icon-clubs, .icon-diamonds, .icon-pawn, .icon-bullhorn, .icon-feed, .icon-book, .icon-books, .icon-library, .icon-file, .icon-profile, .icon-file-2, .icon-file-3, .icon-connection, .icon-podcast, .icon-music, .icon-image, .icon-image-2, .icon-images, .icon-camera, .icon-headphones, .icon-camera-2, .icon-play, .icon-film, .icon-cart, .icon-cart-2, .icon-coin, .icon-credit, .icon-calculate, .icon-support, .icon-phone, .icon-phone-hang-up, .icon-address-book, .icon-notebook, .icon-folder, .icon-folder-open, .icon-tag, .icon-tags, .icon-barcode, .icon-ticket, .icon-cart-3, .icon-pushpin, .icon-location, .icon-location-2, .icon-compass, .icon-map, .icon-map-2, .icon-clock, .icon-clock-2, .icon-alarm, .icon-alarm-2, .icon-bell, .icon-stopwatch, .icon-calendar, .icon-calendar-2, .icon-keyboard, .icon-print, .icon-screen, .icon-laptop, .icon-mobile, .icon-mobile-2, .icon-tablet, .icon-tv, .icon-cabinet, .icon-drawer, .icon-stack, .icon-redo, .icon-forward, .icon-reply, .icon-undo, .icon-bubble, .icon-bubbles, .icon-redo-2, .icon-undo-2, .icon-upload, .icon-download, .icon-drawer-2, .icon-drawer-3, .icon-box-remove, .icon-box-add, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-user, .icon-users, .icon-user-2, .icon-users-2, .icon-user-3, .icon-user-4, .icon-quotes-left, .icon-busy, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-search, .icon-zoom-in, .icon-zoom-out, .icon-binoculars, .icon-expand, .icon-contract, .icon-disk, .icon-storage, .icon-expand-2, .icon-contract-2, .icon-key, .icon-lock, .icon-unlocked, .icon-wrench, .icon-settings, .icon-equalizer, .icon-cog, .icon-cogs, .icon-cog-2, .icon-hammer, .icon-wand, .icon-aid, .icon-bug, .icon-pie, .icon-stats, .icon-bars, .icon-bars-2, .icon-gift, .icon-trophy, .icon-glass, .icon-mug, .icon-food, .icon-leaf, .icon-rocket, .icon-meter, .icon-meter2, .icon-dashboard, .icon-hammer-2, .icon-fire, .icon-lab, .icon-magnet, .icon-remove, .icon-remove-2, .icon-briefcase, .icon-airplane, .icon-truck, .icon-road, .icon-accessibility, .icon-target, .icon-shield, .icon-lightning, .icon-switch, .icon-power-cord, .icon-signup, .icon-cloud, .icon-cloud-download, .icon-cloud-upload, .icon-download-2, .icon-upload-2, .icon-download-3, .icon-upload-3, .icon-globe, .icon-earth, .icon-flag, .icon-link, .icon-attachment, .icon-menu, .icon-menu-2, .icon-eye, .icon-eye-blocked, .icon-bookmark, .icon-bookmarks, .icon-brightness-medium, .icon-contrast, .icon-brightness-contrast, .icon-star, .icon-star-2, .icon-star-3, .icon-heart, .icon-heart-2, .icon-heart-broken, .icon-thumbs-up, .icon-thumbs-up-2, .icon-smiley, .icon-happy, .icon-smiley-2, .icon-happy-2, .icon-tongue, .icon-tongue-2, .icon-confused, .icon-confused-2, .icon-neutral, .icon-neutral-2, .icon-wondering, .icon-wondering-2, .icon-point-up, .icon-point-right, .icon-point-down, .icon-point-left, .icon-warning, .icon-notification, .icon-question, .icon-info, .icon-info-2, .icon-blocked, .icon-cancel-circle, .icon-checkmark-circle, .icon-sad, .icon-sad-2, .icon-wink, .icon-wink-2, .icon-grin, .icon-grin-2, .icon-cool, .icon-cool-2, .icon-angry, .icon-angry-2, .icon-evil, .icon-evil-2, .icon-shocked, .icon-shocked-2, .icon-spam, .icon-close, .icon-checkmark, .icon-checkmark-2, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-mail, .icon-embed, .icon-code, .icon-console, .icon-envelop, .icon-checkbox-checked {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-home-2:before {
	content: "\e001";
}
.icon-home-3:before {
	content: "\e002";
}
.icon-office:before {
	content: "\e003";
}
.icon-newspaper:before {
	content: "\e004";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-pencil-2:before {
	content: "\e006";
}
.icon-quill:before {
	content: "\e007";
}
.icon-pen:before {
	content: "\e008";
}
.icon-droplet:before {
	content: "\e009";
}
.icon-paint-format:before {
	content: "\e00a";
}
.icon-blog:before {
	content: "\e00b";
}
.icon-pacman:before {
	content: "\e00c";
}
.icon-dice:before {
	content: "\e00d";
}
.icon-spades:before {
	content: "\e00e";
}
.icon-clubs:before {
	content: "\e00f";
}
.icon-diamonds:before {
	content: "\e010";
}
.icon-pawn:before {
	content: "\e011";
}
.icon-bullhorn:before {
	content: "\e012";
}
.icon-feed:before {
	content: "\e013";
}
.icon-book:before {
	content: "\e014";
}
.icon-books:before {
	content: "\e015";
}
.icon-library:before {
	content: "\e016";
}
.icon-file:before {
	content: "\e017";
}
.icon-profile:before {
	content: "\e018";
}
.icon-file-2:before {
	content: "\e019";
}
.icon-file-3:before {
	content: "\e01a";
}
.icon-connection:before {
	content: "\e01b";
}
.icon-podcast:before {
	content: "\e01c";
}
.icon-music:before {
	content: "\e01d";
}
.icon-image:before {
	content: "\e01e";
}
.icon-image-2:before {
	content: "\e01f";
}
.icon-images:before {
	content: "\e020";
}
.icon-camera:before {
	content: "\e021";
}
.icon-headphones:before {
	content: "\e022";
}
.icon-camera-2:before {
	content: "\e023";
}
.icon-play:before {
	content: "\e024";
}
.icon-film:before {
	content: "\e025";
}
.icon-cart:before {
	content: "\e026";
}
.icon-cart-2:before {
	content: "\e027";
}
.icon-coin:before {
	content: "\e028";
}
.icon-credit:before {
	content: "\e029";
}
.icon-calculate:before {
	content: "\e02a";
}
.icon-support:before {
	content: "\e02b";
}
.icon-phone:before {
	content: "\e02c";
}
.icon-phone-hang-up:before {
	content: "\e02d";
}
.icon-address-book:before {
	content: "\e02e";
}
.icon-notebook:before {
	content: "\e02f";
}
.icon-folder:before {
	content: "\e030";
}
.icon-folder-open:before {
	content: "\e031";
}
.icon-tag:before {
	content: "\e032";
}
.icon-tags:before {
	content: "\e033";
}
.icon-barcode:before {
	content: "\e034";
}
.icon-ticket:before {
	content: "\e035";
}
.icon-cart-3:before {
	content: "\e036";
}
.icon-pushpin:before {
	content: "\e037";
}
.icon-location:before {
	content: "\e038";
}
.icon-location-2:before {
	content: "\e039";
}
.icon-compass:before {
	content: "\e03a";
}
.icon-map:before {
	content: "\e03b";
}
.icon-map-2:before {
	content: "\e03c";
}
.icon-clock:before {
	content: "\e03d";
}
.icon-clock-2:before {
	content: "\e03e";
}
.icon-alarm:before {
	content: "\e03f";
}
.icon-alarm-2:before {
	content: "\e040";
}
.icon-bell:before {
	content: "\e041";
}
.icon-stopwatch:before {
	content: "\e042";
}
.icon-calendar:before {
	content: "\e043";
}
.icon-calendar-2:before {
	content: "\e044";
}
.icon-keyboard:before {
	content: "\e045";
}
.icon-print:before {
	content: "\e046";
}
.icon-screen:before {
	content: "\e047";
}
.icon-laptop:before {
	content: "\e048";
}
.icon-mobile:before {
	content: "\e049";
}
.icon-mobile-2:before {
	content: "\e04a";
}
.icon-tablet:before {
	content: "\e04b";
}
.icon-tv:before {
	content: "\e04c";
}
.icon-cabinet:before {
	content: "\e04d";
}
.icon-drawer:before {
	content: "\e04e";
}
.icon-stack:before {
	content: "\e04f";
}
.icon-redo:before {
	content: "\e050";
}
.icon-forward:before {
	content: "\e051";
}
.icon-reply:before {
	content: "\e052";
}
.icon-undo:before {
	content: "\e053";
}
.icon-bubble:before {
	content: "\e054";
}
.icon-bubbles:before {
	content: "\e055";
}
.icon-redo-2:before {
	content: "\e056";
}
.icon-undo-2:before {
	content: "\e057";
}
.icon-upload:before {
	content: "\e058";
}
.icon-download:before {
	content: "\e059";
}
.icon-drawer-2:before {
	content: "\e05a";
}
.icon-drawer-3:before {
	content: "\e05b";
}
.icon-box-remove:before {
	content: "\e05c";
}
.icon-box-add:before {
	content: "\e05d";
}
.icon-bubbles-2:before {
	content: "\e05e";
}
.icon-bubble-2:before {
	content: "\e05f";
}
.icon-bubbles-3:before {
	content: "\e060";
}
.icon-bubbles-4:before {
	content: "\e061";
}
.icon-user:before {
	content: "\e062";
}
.icon-users:before {
	content: "\e063";
}
.icon-user-2:before {
	content: "\e064";
}
.icon-users-2:before {
	content: "\e065";
}
.icon-user-3:before {
	content: "\e066";
}
.icon-user-4:before {
	content: "\e067";
}
.icon-quotes-left:before {
	content: "\e068";
}
.icon-busy:before {
	content: "\e069";
}
.icon-spinner:before {
	content: "\e06a";
}
.icon-spinner-2:before {
	content: "\e06b";
}
.icon-spinner-3:before {
	content: "\e06c";
}
.icon-spinner-4:before {
	content: "\e06d";
}
.icon-spinner-5:before {
	content: "\e06e";
}
.icon-spinner-6:before {
	content: "\e06f";
}
.icon-search:before {
	content: "\e070";
}
.icon-zoom-in:before {
	content: "\e071";
}
.icon-zoom-out:before {
	content: "\e072";
}
.icon-binoculars:before {
	content: "\e073";
}
.icon-expand:before {
	content: "\e074";
}
.icon-contract:before {
	content: "\e075";
}
.icon-disk:before {
	content: "\e076";
}
.icon-storage:before {
	content: "\e077";
}
.icon-expand-2:before {
	content: "\e078";
}
.icon-contract-2:before {
	content: "\e079";
}
.icon-key:before {
	content: "\e07a";
}
.icon-lock:before {
	content: "\e07b";
}
.icon-unlocked:before {
	content: "\e07c";
}
.icon-wrench:before {
	content: "\e07d";
}
.icon-settings:before {
	content: "\e07e";
}
.icon-equalizer:before {
	content: "\e07f";
}
.icon-cog:before {
	content: "\e080";
}
.icon-cogs:before {
	content: "\e081";
}
.icon-cog-2:before {
	content: "\e082";
}
.icon-hammer:before {
	content: "\e083";
}
.icon-wand:before {
	content: "\e084";
}
.icon-aid:before {
	content: "\e085";
}
.icon-bug:before {
	content: "\e086";
}
.icon-pie:before {
	content: "\e087";
}
.icon-stats:before {
	content: "\e088";
}
.icon-bars:before {
	content: "\e089";
}
.icon-bars-2:before {
	content: "\e08a";
}
.icon-gift:before {
	content: "\e08b";
}
.icon-trophy:before {
	content: "\e08c";
}
.icon-glass:before {
	content: "\e08d";
}
.icon-mug:before {
	content: "\e08e";
}
.icon-food:before {
	content: "\e08f";
}
.icon-leaf:before {
	content: "\e090";
}
.icon-rocket:before {
	content: "\e091";
}
.icon-meter:before {
	content: "\e092";
}
.icon-meter2:before {
	content: "\e093";
}
.icon-dashboard:before {
	content: "\e094";
}
.icon-hammer-2:before {
	content: "\e095";
}
.icon-fire:before {
	content: "\e096";
}
.icon-lab:before {
	content: "\e097";
}
.icon-magnet:before {
	content: "\e098";
}
.icon-remove:before {
	content: "\e099";
}
.icon-remove-2:before {
	content: "\e09a";
}
.icon-briefcase:before {
	content: "\e09b";
}
.icon-airplane:before {
	content: "\e09c";
}
.icon-truck:before {
	content: "\e09d";
}
.icon-road:before {
	content: "\e09e";
}
.icon-accessibility:before {
	content: "\e09f";
}
.icon-target:before {
	content: "\e0a0";
}
.icon-shield:before {
	content: "\e0a1";
}
.icon-lightning:before {
	content: "\e0a2";
}
.icon-switch:before {
	content: "\e0a3";
}
.icon-power-cord:before {
	content: "\e0a4";
}
.icon-signup:before {
	content: "\e0a5";
}
.icon-cloud:before {
	content: "\e0a6";
}
.icon-cloud-download:before {
	content: "\e0a7";
}
.icon-cloud-upload:before {
	content: "\e0a8";
}
.icon-download-2:before {
	content: "\e0a9";
}
.icon-upload-2:before {
	content: "\e0aa";
}
.icon-download-3:before {
	content: "\e0ab";
}
.icon-upload-3:before {
	content: "\e0ac";
}
.icon-globe:before {
	content: "\e0ad";
}
.icon-earth:before {
	content: "\e0ae";
}
.icon-flag:before {
	content: "\e0af";
}
.icon-link:before {
	content: "\e0b0";
}
.icon-attachment:before {
	content: "\e0b1";
}
.icon-menu:before {
	content: "\e0b2";
}
.icon-menu-2:before {
	content: "\e0b3";
}
.icon-eye:before {
	content: "\e0b4";
}
.icon-eye-blocked:before {
	content: "\e0b5";
}
.icon-bookmark:before {
	content: "\e0b6";
}
.icon-bookmarks:before {
	content: "\e0b7";
}
.icon-brightness-medium:before {
	content: "\e0b8";
}
.icon-contrast:before {
	content: "\e0b9";
}
.icon-brightness-contrast:before {
	content: "\e0ba";
}
.icon-star:before {
	content: "\e0bb";
}
.icon-star-2:before {
	content: "\e0bc";
}
.icon-star-3:before {
	content: "\e0bd";
}
.icon-heart:before {
	content: "\e0be";
}
.icon-heart-2:before {
	content: "\e0bf";
}
.icon-heart-broken:before {
	content: "\e0c0";
}
.icon-thumbs-up:before {
	content: "\e0c1";
}
.icon-thumbs-up-2:before {
	content: "\e0c2";
}
.icon-smiley:before {
	content: "\e0c3";
}
.icon-happy:before {
	content: "\e0c4";
}
.icon-smiley-2:before {
	content: "\e0c5";
}
.icon-happy-2:before {
	content: "\e0c6";
}
.icon-tongue:before {
	content: "\e0c7";
}
.icon-tongue-2:before {
	content: "\e0c8";
}
.icon-confused:before {
	content: "\e0c9";
}
.icon-confused-2:before {
	content: "\e0ca";
}
.icon-neutral:before {
	content: "\e0cb";
}
.icon-neutral-2:before {
	content: "\e0cc";
}
.icon-wondering:before {
	content: "\e0cd";
}
.icon-wondering-2:before {
	content: "\e0ce";
}
.icon-point-up:before {
	content: "\e0cf";
}
.icon-point-right:before {
	content: "\e0d0";
}
.icon-point-down:before {
	content: "\e0d1";
}
.icon-point-left:before {
	content: "\e0d2";
}
.icon-warning:before {
	content: "\e0d3";
}
.icon-notification:before {
	content: "\e0d4";
}
.icon-question:before {
	content: "\e0d5";
}
.icon-info:before {
	content: "\e0d6";
}
.icon-info-2:before {
	content: "\e0d7";
}
.icon-blocked:before {
	content: "\e0d8";
}
.icon-cancel-circle:before {
	content: "\e0d9";
}
.icon-checkmark-circle:before {
	content: "\e0da";
}
.icon-sad:before {
	content: "\e0db";
}
.icon-sad-2:before {
	content: "\e0dc";
}
.icon-wink:before {
	content: "\e0dd";
}
.icon-wink-2:before {
	content: "\e0de";
}
.icon-grin:before {
	content: "\e0df";
}
.icon-grin-2:before {
	content: "\e0e0";
}
.icon-cool:before {
	content: "\e0e1";
}
.icon-cool-2:before {
	content: "\e0e2";
}
.icon-angry:before {
	content: "\e0e3";
}
.icon-angry-2:before {
	content: "\e0e4";
}
.icon-evil:before {
	content: "\e0e5";
}
.icon-evil-2:before {
	content: "\e0e6";
}
.icon-shocked:before {
	content: "\e0e7";
}
.icon-shocked-2:before {
	content: "\e0e8";
}
.icon-spam:before {
	content: "\e0e9";
}
.icon-close:before {
	content: "\e0ea";
}
.icon-checkmark:before {
	content: "\e0eb";
}
.icon-checkmark-2:before {
	content: "\e0ec";
}
.icon-minus:before {
	content: "\e0ed";
}
.icon-plus:before {
	content: "\e0ee";
}
.icon-enter:before {
	content: "\e0ef";
}
.icon-exit:before {
	content: "\e0f0";
}
.icon-arrow-up-left:before {
	content: "\e0f1";
}
.icon-arrow-up:before {
	content: "\e0f2";
}
.icon-arrow-up-right:before {
	content: "\e0f3";
}
.icon-arrow-right:before {
	content: "\e0f4";
}
.icon-arrow-down-right:before {
	content: "\e0f5";
}
.icon-arrow-down:before {
	content: "\e0f6";
}
.icon-arrow-down-left:before {
	content: "\e0f7";
}
.icon-arrow-left:before {
	content: "\e0f8";
}
.icon-mail:before {
	content: "\e0f9";
}
.icon-embed:before {
	content: "\e0fa";
}
.icon-code:before {
	content: "\e0fb";
}
.icon-console:before {
	content: "\e0fc";
}
.icon-envelop:before {
	content: "\e0fd";
}
.icon-checkbox-checked:before {
	content: "\e0fe";
}

/*Social Icons*/

@font-face {
	font-family: 'social';
	src:url('../fonts/social.eot');
	src:url('../fonts/social.eot?#iefix') format('embedded-opentype'),
		url('../fonts/social.woff') format('woff'),
		url('../fonts/social.ttf') format('truetype'),
		url('../fonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'social';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-google-drive, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-instagram, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-feed, .icon-feed-2, .icon-feed-3, .icon-youtube, .icon-youtube-2, .icon-vimeo, .icon-vimeo2, .icon-vimeo-2, .icon-lanyrd, .icon-flickr, .icon-flickr-2, .icon-flickr-3, .icon-flickr-4, .icon-picassa, .icon-picassa-2, .icon-dribbble, .icon-dribbble-2, .icon-dribbble-3, .icon-forrst, .icon-forrst-2, .icon-deviantart, .icon-deviantart-2, .icon-steam, .icon-steam-2, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-github-5, .icon-wordpress, .icon-wordpress-2, .icon-joomla, .icon-blogger, .icon-blogger-2, .icon-tumblr, .icon-tumblr-2, .icon-yahoo, .icon-tux, .icon-apple, .icon-finder, .icon-android, .icon-windows, .icon-windows8, .icon-soundcloud, .icon-soundcloud-2, .icon-skype, .icon-reddit, .icon-linkedin, .icon-lastfm, .icon-lastfm-2, .icon-delicious, .icon-stumbleupon, .icon-stumbleupon-2, .icon-stackoverflow, .icon-pinterest, .icon-pinterest-2, .icon-xing, .icon-xing-2, .icon-flattr, .icon-foursquare, .icon-foursquare-2, .icon-paypal, .icon-paypal-2, .icon-paypal-3, .icon-yelp, .icon-libreoffice, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-xml, .icon-file-css, .icon-html5, .icon-html5-2, .icon-css3, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-IcoMoon, .icon-google, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-google-plus-4, .icon-left-quote, .icon-right-quote, .icon-left-quote-alt, .icon-right-quote-alt, .icon-rain, .icon-at, .icon-umbrella, .icon-moon-stroke, .icon-moon-fill, .icon-cloud, .icon-moon, .icon-sun, .icon-lightning, .icon-rainy, .icon-cloudy, .icon-cloud-2, .icon-cloud-3, .icon-rainy-2, .icon-windy, .icon-windy-2, .icon-snowy, .icon-snowy-2, .icon-weather, .icon-cloudy-2, .icon-lightning-2, .icon-thermometer, .icon-none, .icon-Celsius, .icon-Fahrenheit, .icon-sunrise, .icon-sun-2, .icon-moon-2, .icon-sun-3, .icon-windy-3, .icon-wind, .icon-snowflake, .icon-cloudy-3, .icon-cloud-4, .icon-weather-2, .icon-weather-3, .icon-weather-4, .icon-lines, .icon-cloud-5, .icon-lightning-3, .icon-lightning-4, .icon-rainy-3, .icon-rainy-4, .icon-windy-4, .icon-windy-5, .icon-snowy-3, .icon-snowy-4, .icon-snowy-5, .icon-weather-5, .icon-cloudy-4, .icon-cloud-6, .icon-lightning-5, .icon-compass, .icon-lamp, .icon-atom, .icon-credit-card, .icon-ipod, .icon-ampersand, .icon-battery, .icon-target, .icon-database, .icon-chart, .icon-warning, .icon-bookmark, .icon-droplet, .icon-mouse, .icon-basket, .icon-thumbs-down, .icon-thumbs-up, .icon-star, .icon-bolt, .icon-flag, .icon-address-book, .icon-bookmark-2, .icon-stats, .icon-frame, .icon-pencil, .icon-switch, .icon-grid, .icon-list, .icon-pen, .icon-pen-alt-stroke, .icon-pen-alt-fill, .icon-brush, .icon-eyedropper {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-google-drive:before {
	content: "\e000";
}
.icon-facebook:before {
	content: "\e001";
}
.icon-facebook-2:before {
	content: "\e002";
}
.icon-facebook-3:before {
	content: "\e003";
}
.icon-instagram:before {
	content: "\e004";
}
.icon-twitter:before {
	content: "\e005";
}
.icon-twitter-2:before {
	content: "\e006";
}
.icon-twitter-3:before {
	content: "\e007";
}
.icon-feed:before {
	content: "\e008";
}
.icon-feed-2:before {
	content: "\e009";
}
.icon-feed-3:before {
	content: "\e00a";
}
.icon-youtube:before {
	content: "\e00b";
}
.icon-youtube-2:before {
	content: "\e00c";
}
.icon-vimeo:before {
	content: "\e00d";
}
.icon-vimeo2:before {
	content: "\e00e";
}
.icon-vimeo-2:before {
	content: "\e00f";
}
.icon-lanyrd:before {
	content: "\e010";
}
.icon-flickr:before {
	content: "\e011";
}
.icon-flickr-2:before {
	content: "\e012";
}
.icon-flickr-3:before {
	content: "\e013";
}
.icon-flickr-4:before {
	content: "\e014";
}
.icon-picassa:before {
	content: "\e015";
}
.icon-picassa-2:before {
	content: "\e016";
}
.icon-dribbble:before {
	content: "\e017";
}
.icon-dribbble-2:before {
	content: "\e018";
}
.icon-dribbble-3:before {
	content: "\e019";
}
.icon-forrst:before {
	content: "\e01a";
}
.icon-forrst-2:before {
	content: "\e01b";
}
.icon-deviantart:before {
	content: "\e01c";
}
.icon-deviantart-2:before {
	content: "\e01d";
}
.icon-steam:before {
	content: "\e01e";
}
.icon-steam-2:before {
	content: "\e01f";
}
.icon-github:before {
	content: "\e020";
}
.icon-github-2:before {
	content: "\e021";
}
.icon-github-3:before {
	content: "\e022";
}
.icon-github-4:before {
	content: "\e023";
}
.icon-github-5:before {
	content: "\e024";
}
.icon-wordpress:before {
	content: "\e025";
}
.icon-wordpress-2:before {
	content: "\e026";
}
.icon-joomla:before {
	content: "\e027";
}
.icon-blogger:before {
	content: "\e028";
}
.icon-blogger-2:before {
	content: "\e029";
}
.icon-tumblr:before {
	content: "\e02a";
}
.icon-tumblr-2:before {
	content: "\e02b";
}
.icon-yahoo:before {
	content: "\e02c";
}
.icon-tux:before {
	content: "\e02d";
}
.icon-apple:before {
	content: "\e02e";
}
.icon-finder:before {
	content: "\e02f";
}
.icon-android:before {
	content: "\e030";
}
.icon-windows:before {
	content: "\e031";
}
.icon-windows8:before {
	content: "\e032";
}
.icon-soundcloud:before {
	content: "\e033";
}
.icon-soundcloud-2:before {
	content: "\e034";
}
.icon-skype:before {
	content: "\e035";
}
.icon-reddit:before {
	content: "\e036";
}
.icon-linkedin:before {
	content: "\e037";
}
.icon-lastfm:before {
	content: "\e038";
}
.icon-lastfm-2:before {
	content: "\e039";
}
.icon-delicious:before {
	content: "\e03a";
}
.icon-stumbleupon:before {
	content: "\e03b";
}
.icon-stumbleupon-2:before {
	content: "\e03c";
}
.icon-stackoverflow:before {
	content: "\e03d";
}
.icon-pinterest:before {
	content: "\e03e";
}
.icon-pinterest-2:before {
	content: "\e03f";
}
.icon-xing:before {
	content: "\e040";
}
.icon-xing-2:before {
	content: "\e041";
}
.icon-flattr:before {
	content: "\e042";
}
.icon-foursquare:before {
	content: "\e043";
}
.icon-foursquare-2:before {
	content: "\e044";
}
.icon-paypal:before {
	content: "\e045";
}
.icon-paypal-2:before {
	content: "\e046";
}
.icon-paypal-3:before {
	content: "\e047";
}
.icon-yelp:before {
	content: "\e048";
}
.icon-libreoffice:before {
	content: "\e049";
}
.icon-file-pdf:before {
	content: "\e04a";
}
.icon-file-openoffice:before {
	content: "\e04b";
}
.icon-file-word:before {
	content: "\e04c";
}
.icon-file-excel:before {
	content: "\e04d";
}
.icon-file-zip:before {
	content: "\e04e";
}
.icon-file-powerpoint:before {
	content: "\e04f";
}
.icon-file-xml:before {
	content: "\e050";
}
.icon-file-css:before {
	content: "\e051";
}
.icon-html5:before {
	content: "\e052";
}
.icon-html5-2:before {
	content: "\e053";
}
.icon-css3:before {
	content: "\e054";
}
.icon-chrome:before {
	content: "\e055";
}
.icon-firefox:before {
	content: "\e056";
}
.icon-IE:before {
	content: "\e057";
}
.icon-opera:before {
	content: "\e058";
}
.icon-safari:before {
	content: "\e059";
}
.icon-IcoMoon:before {
	content: "\e05a";
}
.icon-google:before {
	content: "\e05b";
}
.icon-google-plus:before {
	content: "\e05c";
}
.icon-google-plus-2:before {
	content: "\e05d";
}
.icon-google-plus-3:before {
	content: "\e05e";
}
.icon-google-plus-4:before {
	content: "\e05f";
}
.icon-left-quote:before {
	content: "\e061";
}
.icon-right-quote:before {
	content: "\e062";
}
.icon-left-quote-alt:before {
	content: "\e063";
}
.icon-right-quote-alt:before {
	content: "\e064";
}
.icon-rain:before {
	content: "\e065";
}
.icon-at:before {
	content: "\e066";
}
.icon-umbrella:before {
	content: "\e067";
}
.icon-moon-stroke:before {
	content: "\e068";
}
.icon-moon-fill:before {
	content: "\e069";
}
.icon-cloud:before {
	content: "\e06a";
}
.icon-moon:before {
	content: "\e060";
}
.icon-sun:before {
	content: "\e06b";
}
.icon-lightning:before {
	content: "\e06c";
}
.icon-rainy:before {
	content: "\e06d";
}
.icon-cloudy:before {
	content: "\e06e";
}
.icon-cloud-2:before {
	content: "\e06f";
}
.icon-cloud-3:before {
	content: "\e070";
}
.icon-rainy-2:before {
	content: "\e071";
}
.icon-windy:before {
	content: "\e072";
}
.icon-windy-2:before {
	content: "\e073";
}
.icon-snowy:before {
	content: "\e074";
}
.icon-snowy-2:before {
	content: "\e075";
}
.icon-weather:before {
	content: "\e076";
}
.icon-cloudy-2:before {
	content: "\e077";
}
.icon-lightning-2:before {
	content: "\e078";
}
.icon-thermometer:before {
	content: "\e079";
}
.icon-none:before {
	content: "\e07a";
}
.icon-Celsius:before {
	content: "\e07b";
}
.icon-Fahrenheit:before {
	content: "\e07c";
}
.icon-sunrise:before {
	content: "\e07d";
}
.icon-sun-2:before {
	content: "\e07e";
}
.icon-moon-2:before {
	content: "\e07f";
}
.icon-sun-3:before {
	content: "\e080";
}
.icon-windy-3:before {
	content: "\e081";
}
.icon-wind:before {
	content: "\e082";
}
.icon-snowflake:before {
	content: "\e083";
}
.icon-cloudy-3:before {
	content: "\e084";
}
.icon-cloud-4:before {
	content: "\e085";
}
.icon-weather-2:before {
	content: "\e086";
}
.icon-weather-3:before {
	content: "\e087";
}
.icon-weather-4:before {
	content: "\e088";
}
.icon-lines:before {
	content: "\e089";
}
.icon-cloud-5:before {
	content: "\e08a";
}
.icon-lightning-3:before {
	content: "\e08b";
}
.icon-lightning-4:before {
	content: "\e08c";
}
.icon-rainy-3:before {
	content: "\e08d";
}
.icon-rainy-4:before {
	content: "\e08e";
}
.icon-windy-4:before {
	content: "\e08f";
}
.icon-windy-5:before {
	content: "\e090";
}
.icon-snowy-3:before {
	content: "\e091";
}
.icon-snowy-4:before {
	content: "\e092";
}
.icon-snowy-5:before {
	content: "\e093";
}
.icon-weather-5:before {
	content: "\e094";
}
.icon-cloudy-4:before {
	content: "\e095";
}
.icon-cloud-6:before {
	content: "\e096";
}
.icon-lightning-5:before {
	content: "\e097";
}
.icon-compass:before {
	content: "\e098";
}
.icon-lamp:before {
	content: "\e099";
}
.icon-atom:before {
	content: "\e09a";
}
.icon-credit-card:before {
	content: "\e09b";
}
.icon-ipod:before {
	content: "\e09c";
}
.icon-ampersand:before {
	content: "\e09d";
}
.icon-battery:before {
	content: "\e09e";
}
.icon-target:before {
	content: "\e09f";
}
.icon-database:before {
	content: "\e0a0";
}
.icon-chart:before {
	content: "\e0a1";
}
.icon-warning:before {
	content: "\e0a2";
}
.icon-bookmark:before {
	content: "\e0a3";
}
.icon-droplet:before {
	content: "\e0a4";
}
.icon-mouse:before {
	content: "\e0a5";
}
.icon-basket:before {
	content: "\e0a6";
}
.icon-thumbs-down:before {
	content: "\e0a7";
}
.icon-thumbs-up:before {
	content: "\e0a8";
}
.icon-star:before {
	content: "\e0a9";
}
.icon-bolt:before {
	content: "\e0aa";
}
.icon-flag:before {
	content: "\e0ab";
}
.icon-address-book:before {
	content: "\e0ac";
}
.icon-bookmark-2:before {
	content: "\e0ad";
}
.icon-stats:before {
	content: "\e0ae";
}
.icon-frame:before {
	content: "\e0af";
}
.icon-pencil:before {
	content: "\e0b0";
}
.icon-switch:before {
	content: "\e0b1";
}
.icon-grid:before {
	content: "\e0b2";
}
.icon-list:before {
	content: "\e0b3";
}
.icon-pen:before {
	content: "\e0b4";
}
.icon-pen-alt-stroke:before {
	content: "\e0b5";
}
.icon-pen-alt-fill:before {
	content: "\e0b6";
}
.icon-brush:before {
	content: "\e0b8";
}
.icon-eyedropper:before {
	content: "\e0ba";
}
